/* POLICE*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap");
nav {
  box-shadow: 3px 3px 10px lightgrey;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.881390056) 12%, rgb(29, 253, 91) 58%, rgb(69, 206, 252) 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 2rem;
}
nav .nav_links a {
  padding: 0 3rem;
  font-size: xx-large;
}
@media (max-width: 767px) {
  nav .nav_links a {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0.2rem;
    margin-right: 1.5rem;
  }
}
nav #logo {
  margin-right: auto;
  border-radius: 2rem;
}

#datetime {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.profil {
  background-color: rgba(211, 211, 211, 0.308);
  border-radius: 12px;
  box-shadow: 3px 3px 10px lightgrey;
  padding: 1rem;
  display: flex;
}
.profil h1 {
  padding: 4rem 0 0 5rem;
  font-size: 4rem;
}
.profil p {
  padding: 6rem 5rem 0 5rem;
  font-size: 2rem;
}

.about h2 {
  text-align: center;
  padding: 3rem 4rem;
  font-size: xx-large;
}
.about p {
  text-align: center;
  padding: 3rem 6rem;
  line-height: 2rem;
  font-size: x-large;
}

.projects h2 {
  text-align: center;
  padding: 1rem 2rem;
  font-size: xx-large;
}
.projects .contain_projects {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects .contain_projects a {
  border: 1px solid forestgreen;
  text-align: center;
  padding: 6rem;
  margin: 2rem;
  border-radius: 2rem;
  opacity: 0.5;
  box-shadow: 3px 3px 10px lightgrey;
}
@media (max-width: 767px) {
  .projects .contain_projects a {
    padding: 2rem;
    margin: 1rem;
  }
}
.projects .contain_projects a:hover {
  transform: scale(1.05);
  transition: all 800ms;
  opacity: 0.9;
}

footer {
  background: rgb(87, 87, 87);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer h2 {
  color: rgb(199, 196, 196);
}
footer p {
  color: black;
  margin: 1rem;
  padding-left: 1rem;
  line-height: 2rem;
  border: 1px solid yellow;
  border-radius: 6px;
  width: 22%;
  background: yellowgreen;
  cursor: pointer;
  box-shadow: 8px 8px 10px black;
}
footer p:hover {
  background: white;
  border: none;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

section {
  margin: 2rem;
}
section h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: xx-large;
}
section h3 {
  margin-top: 2rem;
  text-decoration: underline;
  font-size: x-large;
}
section p, section li {
  padding: 1rem;
  font-style: italic;
}

/* GENRAL */
*, ::before, ::after {
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}
* h1, * h2, * h3, * a, ::before h1, ::before h2, ::before h3, ::before a, ::after h1, ::after h2, ::after h3, ::after a {
  font-size: x-large;
}

.exp, .study, .interests {
  text-align: center;
}
.exp h2, .study h2, .interests h2 {
  background: yellowgreen;
}
.exp ul, .study ul, .interests ul {
  list-style-type: none;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.resources img {
  width: 400px;
  height: 200px;
  margin: 2rem;
}
.resources img:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

#contact-form h1 {
  text-align: center;
}
#contact-form .form-style {
  margin: 15px auto;
  width: 550px;
  padding: 20px 12px;
  font-size: x-large;
  font-family: "Dosis", sans-serif;
}
#contact-form .form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0;
}
#contact-form .form-style label {
  margin: 3px 0;
  padding: 0;
  display: block;
  font-weight: bold;
}
#contact-form .form-style .required {
  color: red;
}
#contact-form .form-style input[type=submit], #contact-form .form-style .form-style input[type=reset] {
  background: yellowgreen;
  padding: 8px 15px;
  border: none;
  color: #fff;
}
#contact-form .form-style input[type=submit]:hover, #contact-form .form-style input[type=reset]:hover {
  background: yellowgreen;
  box-shadow: none;
}
#contact-form .form-style .field-textarea {
  height: 100px;
}
#contact-form .form-style input[type=text], #contact-form .form-style input[type=email], #contact-form .form-style textarea {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px 5px;
  margin: 0;
  transition: all 0.3s ease-in-out;
  outline: none;
}
#contact-form .form-style .long {
  width: 100%;
}
#contact-form .form-style input[type=text]:focus, #contact-form .form-style input[type=email]:focus, #contact-form .form-style textarea:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
#contact-form .form-style .error {
  color: #d8000c;
  background: #ffbaba;
}

/*# sourceMappingURL=style.css.map */
