.about{
    background-color:rgb(63,233,110);
background: linear-gradient(24deg, rgba(63,233,110,1) 32%, rgba(69,207,107,1) 37%, rgba(29,246,253,1) 52%, rgba(69,156,250,1) 100%);
    h2{
        text-align: center;
        padding: 3rem 4rem;
        font-size: xx-large;
    }
   p{
       text-align: center;
       padding: 3rem 6rem;
       line-height: 2rem;
       font-size: x-large;
   }
}