.about{
 
    h2{
        text-align: center;
        padding: 3rem 4rem;
        font-size: xx-large;
    }
   p{
       text-align: center;
       padding: 3rem 6rem;
       line-height: 2rem;
       font-size: x-large;
   }
}