footer{
    //display: flex;
   // align-items: center;
   background: rgb(87, 87, 87);
   color: white;
   padding: 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
    .contact{
        
    }
    h2{
        color: rgb(199, 196, 196);
    }
    p{
        color: black;
        margin: 1rem ;
        padding-left: 1rem;
        line-height: 2rem;
        border: 1px solid yellow;
        border-radius: 6px;
        width: 22%;
        background: yellowgreen;
        cursor: pointer;
        box-shadow: 8px 8px 10px black;
    }
    p:hover{
        background: white;
        border: none;
        transform: scale(1.05);
        transition-duration: 0.5s;
    }

}
