footer{background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8813900560224089) 12%, rgba(29,253,91,1) 58%, rgba(69,206,252,1) 100%);
    color: white;
    padding: 2rem;
    h2{
        text-align: center;
        color: black;
    }
    p{
        margin: 1rem ;
        line-height: 2rem;
    }

}
