@import "../composants/mobile.scss";
@import "../composants/box-shadow.scss";

nav{
    @include box-shadow;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8813900560224089) 12%, rgba(29,253,91,1) 58%, rgba(69,206,252,1) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 2rem;
    .nav_links{
        a{
            padding: 0 3rem;
            font-size: xx-large;
            @include mobile{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                padding: 0.2rem;
                margin-right: 1.5rem;
            }
        }
    }
    #logo{
        margin-right: auto;
        border-radius: 2rem;
    }
}
#datetime{
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}