@import "../composants/mobile.scss";

nav{
    background-color: #b3d13dcc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 2rem;
    .nav_links{
        a{
            padding: 0 3rem;
            font-size: xx-large;
            @include mobile{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                padding: 0.2rem;
                margin-right: 1.5rem;
            }
        }
    }
    #logo{
        margin-right: auto;
        border-radius: 2rem;
    }
}