section{
    margin: 2rem;
    h2{
        text-align: center;
        margin-top: 2rem;
        font-size: xx-large;
    }
    h3{
        margin-top: 2rem;
        text-decoration: underline;
        font-size: x-large;
    }
    p, li{
        padding: 1rem;
        font-style: italic;
    }
}