@import "../composants/mobile.scss";
.projects{
    h2{
        text-align: center;
        padding: 3rem 4rem;
        font-size: xx-large;
    }
   .contain_projects{
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    a{
            border: 2px solid black;
            text-align: center;
            padding: 8rem 10rem;
            margin: 5rem;
            border-radius: 2rem;
        @include mobile{
            margin: 1rem;
        }
        }
   }

}