.projects{
    h2{
        text-align: center;
        padding: 3rem 4rem;
        font-size: xx-large;
    }
   .contain_projects{
        border: 2px solid pink;
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    p{
            border: 2px solid black;
            text-align: center;
            padding: 8rem 10rem;
            margin: 5rem;
            border-radius: 2rem;

        }
   }

}