@import "../composants/mobile.scss";
@import "../composants/box-shadow.scss";
.projects{
    h2{
        text-align: center;
        padding: 3rem 4rem;
        font-size: xx-large;
    }
   .contain_projects{
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    a{
            border: 5px solid rgb(34, 190, 73);
            background: linear-gradient(24deg, rgba(63,233,110,1) 32%, rgba(69,207,107,1) 37%, rgba(29,246,253,1) 52%, rgba(69,156,250,1) 100%);

            text-align: center;
            padding: 8rem 8rem;
            margin: 2rem;
            border-radius: 2rem;
            opacity: 0.5;
            @include box-shadow;
        @include mobile{
            margin: 1rem;
        }
        &:hover{
            transform: scale(1.05);
            transition: all 800ms;
            opacity: 0.9;
        }
        }
   }

}